%h4 Ref

%ul
  %li
    %a{target: "_blank", href: "https://www.postgresql.org/docs/9.6/static/sql-createview.html"} [PG documentation 9.6 - CREATE VIEW]
  %li
    %a{target: "_blank", href: "https://www.postgresql.org/docs/9.6/static/sql-alterview.html"} [PG documentation 9.6 - ALTER VIEW]
  %li
    %a{target: "_blank", href: "https://www.postgresql.org/docs/9.6/static/sql-dropview.html"} [PG documentation 9.6 - DROP VIEW]
  %li
    %a{target: "_blank", href: "https://www.postgresql.org/docs/9.6/static/sql-creatematerializedview.html"} [PG documentation 9.6 - CREATE MATERIALIZED VIEW]
  %li
    %a{target: "_blank", href: "https://www.postgresql.org/docs/9.6/static/sql-altermaterializedview.html"} [PG documentation 9.6 - ALTER MATERIALIZED VIEW]
  %li
    %a{target: "_blank", href: "https://www.postgresql.org/docs/9.6/static/sql-dropmaterializedview.html"} [PG documentation 9.6 - DROP MATERIALIZED VIEW]
  %li
    %a{target: "_blank", href: "https://www.postgresql.org/docs/9.6/static/sql-refreshmaterializedview.html"} [PG documentation 9.6 - REFRESH MATERIALIZED VIEW]


%h5 Managing views via Rails
%ul
  %li
    %a{target: "_blank", href: "https://github.com/thoughtbot/scenic"} Scenic gem
